@model IEnumerable< EntityLayer.Concrete.Product>
@{
    ViewData["Title"] = "DetailsProduct";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}


<div class="page-head_agile_info_w3l inner-checkout-page">
    <div class="container py-5">
        @foreach (var item in Model)
        {
            <h3 class="title-style text-white pt-5">@item.NameProduct</h3>
            <ul class="w3_short pt-3 pb-5">
                <li>
                    <a href="/Home/HomePage" class="text-white">Ana Sayfa</a>
                    <i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
                </li>
                <li class="text-light">Ürün Detay</li>
            </ul>
        }
    </div>
</div>



@foreach (var item1 in Model)
{
    <div class="banner-bootom-w3-agileits pt-5">
        <div class="container py-md-5 pt-4">
            <div class="row">
                <div class="col-lg-5 col-md-8 single-right-left ">
                    <div class="grid images_3_of_2">
                        <div class="flexslider">
                            <ul class="slides">
                                <li data-thumb="@item1.ImageUrl1Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl1Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl2Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl2Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl3Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl3Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl4Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl4Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl5Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl5Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl6Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl6Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                    <h3 class="mb-3">@item1.NameProduct (@item1.BrandProduct)</h3>
                    <p class="mb-3">
                        <span class="item_price">@item1.PriceProduct ₺</span>
                    </p>

                    <div class="product-single-w3l">
                        <p class="my-3">
                            <i class="far fa-hand-point-right mr-2"></i>
                            Detaylar
                        <p class="my-sm-4 my-3">@item1.DescriptionProduct</p>
                    </div>
                    <div class="single-infoagile">
                        <ul>
                            <li class="mb-3">
                                Beden: @item1.SizeProduct
                            </li>
                            <li class="mb-3">
                                Ekleme Tarihi:@(((DateTime)item1.DateProduct).ToString("dd-MMM-yyyy"))
                            </li>
                        </ul>
                    </div>
                    <div class="occasion-cart">
                        <a href="/Product/BuyProduct/@ViewBag.i" class="btn btn-primary">Satın Al!</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

}



<div class="container mb-5">
    <div class="row">
        <div class="col-md-12">
            <!-- //Single Page -->
            @*<div class="row">*@
            @*<div class="col-lg-5 col-md-8 single-right-left">*@
            @await Component.InvokeAsync("CommentList", new {id=ViewBag.i})
            @*</div>*@
            @* Bir Yorum Bırakın buraya gelecek*@
            @*</div>*@
            @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")
        </div>
    </div>
</div>



