@model EntityLayer.Concrete.Product

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Ürün Düzenleme Tablosu</h3>
</div>



@using (Html.BeginForm("EditProduct", "Product", FormMethod.Post))
{
    <div style="margin-left:1rem; margin-right:1rem;">
        @Html.HiddenFor(x=>x.ProductID)
        @Html.HiddenFor(x=>x.SellTraderID)
        @Html.HiddenFor(x=>x.BuyTraderID)
        @Html.HiddenFor(x=>x.GenreCategoryID)
        @Html.HiddenFor(x=>x.ImageUrl1Product)
        @Html.HiddenFor(x=>x.ImageUrl2Product)
        @Html.HiddenFor(x=>x.ImageUrl3Product)
        @Html.HiddenFor(x=>x.ImageUrl4Product)
        @Html.HiddenFor(x=>x.ImageUrl5Product)
        @Html.HiddenFor(x=>x.ImageUrl6Product)

        <br />
        @Html.Label("Ürün İsmi :")
        @Html.TextBoxFor(x=> x.NameProduct, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.NameProduct,"",new{@class="text-danger", @style="font-size:12px;"})
        <br />
        @Html.Label("Ürün Markası :")
        @Html.TextAreaFor(x=> x.BrandProduct, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.BrandProduct,"",new{@class="text-danger", @style="font-size:12px;"})
        <br />
        @Html.Label("Ürün Açıklaması :")
        @Html.TextAreaFor(x=> x.DescriptionProduct, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.DescriptionProduct,"",new{@class="text-danger", @style="font-size:12px;"})
        <br />
        @Html.Label("Ürün Bedeni :")
        @Html.TextAreaFor(x=> x.SizeProduct, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.SizeProduct,"",new{@class="text-danger", @style="font-size:12px;"})
        <br />
        @Html.Label("Ürün Fiyatı :")
        @Html.TextAreaFor(x=> x.PriceProduct, new {@class="form-control"})
        @Html.ValidationMessageFor(x=>x.PriceProduct,"",new{@class="text-danger", @style="font-size:12px;"})
        <br />
        @Html.Label("Ürün Resmi 1 :")
        <br />
        <img style="height:15rem" src="@Html.DisplayFor(x=> x.ImageUrl1Product, new {@class="form-control",disabled="disabled"})">

        <br />

        @Html.Label("Ürün Resmi 2 :")
        <br />
        <img style="height:15rem" src="@Html.DisplayFor(x=> x.ImageUrl2Product, new {@class="form-control",disabled="disabled"})">

        <br />

        @Html.Label("Ürün Resmi 3 :")
        <br />
        <img style="height:15rem" src="@Html.DisplayFor(x=> x.ImageUrl3Product, new {@class="form-control",disabled="disabled"})">

        <br />

        @Html.Label("Ürün Resmi 4 :")
        <br />
        <img style="height:15rem" src="@Html.DisplayFor(x=> x.ImageUrl4Product, new {@class="form-control",disabled="disabled"})">

        <br />

        @Html.Label("Ürün Resmi 5 :")
        <br />
        <img style="height:15rem" src="@Html.DisplayFor(x=> x.ImageUrl5Product, new {@class="form-control",disabled="disabled"})">

        <br />

        @Html.Label("Ürün Resmi 6 :")
        <br />
        <img style="height:15rem" src="@Html.DisplayFor(x=> x.ImageUrl6Product, new {@class="form-control",disabled="disabled"})">
        <br />
        <br />

        <button type="submit" class="btn btn-success">Güncelle</button>
    </div>
    <br />

}
