@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<br />
<div class="card-header border-0">
    <h3 class="mb-0">Ürün Ekleme Paneli</h3>
</div>

@using (Html.BeginForm("ProductAdd", "Product", FormMethod.Post))
{
    @Html.Label("Kategori")
    @Html.DropDownListFor(x=> x.GenreCategoryID, (List<SelectListItem>)ViewBag.cv,new {@class="form-control"})
    <br />
    <br />
    @Html.Label("Ürün Adı")
    @Html.TextBoxFor(x=> x.NameProduct, new {@class="form-control"})
    @Html.ValidationMessageFor(x => x.NameProduct)
    <br />
    @Html.Label("Marka")
    @Html.TextBoxFor(x=> x.BrandProduct, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.BrandProduct)*@
    <br />
    @Html.Label("Açıklaması")
    @Html.TextBoxFor(x=> x.DescriptionProduct, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.DescriptionProduct)*@
    <br />
    @Html.Label("Fiyat")
    @Html.TextBoxFor(x=> x.PriceProduct, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.PriceProduct)*@
    <br />
    @Html.Label("Size")
    @Html.TextBoxFor(x=> x.SizeProduct, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.SizeProduct)*@
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x=> x.DateProduct, new {@class="form-control"})
    @*@Html.ValidationMessageFor(x => x.DateProduct)*@
    <br />
    @Html.Label("Fotoğraf 1")
    @Html.TextBoxFor(x=> x.ImageUrl1Product, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.ImageUrl1Product)*@
    <br />
    @Html.Label("Fotoğraf 2")
    @Html.TextBoxFor(x=> x.ImageUrl2Product, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.ImageUrl2Product)*@
    <br />
    @Html.Label("Fotoğraf 3")
    @Html.TextBoxFor(x=> x.ImageUrl3Product, new {@class="form-control"})
    @*  @Html.ValidationMessageFor(x => x.ImageUrl3Product)*@
    <br />
    @Html.Label("Fotoğraf 4")
    @Html.TextBoxFor(x=> x.ImageUrl4Product, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.ImageUrl4Product)*@
    <br />
    @Html.Label("Fotoğraf 5")
    @Html.TextBoxFor(x=> x.ImageUrl5Product, new {@class="form-control"})
    @*@Html.ValidationMessageFor(x => x.ImageUrl5Product)*@
    <br />
    @Html.Label("Fotoğraf 6")
    @Html.TextBoxFor(x=> x.ImageUrl6Product, new {@class="form-control"})
    @* @Html.ValidationMessageFor(x => x.ImageUrl6Product)*@
    <br />

    <button class="btn btn-info">Ürünü Kaydet</button>



}



