@model IEnumerable< EntityLayer.Concrete.Product>


@{
    ViewData["Title"] = "ProductDetails";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="page-head_agile_info_w3l inner-checkout-page">
    <div class="container py-5">
        <h3 class="title-style text-white pt-5"><span>Product</span> Single Page</h3>
        <ul class="w3_short pt-3 pb-5">
            <li>
                <a href="index.html" class="text-white">Home</a>
                <i class="fa fa-angle-right mx-2 text-white" aria-hidden="true"></i>
            </li>
            <li class="text-light">Single Product 1</li>
        </ul>
    </div>
</div>

<div class="banner-bootom-w3-agileits py-5">
    @foreach (var item1 in Model)
            {
    <div class="container py-md-5 py-4 ">
        <div class="row">
            <div class="col-lg-2 col-md-2 single-right-left ">
               @* @foreach (var item in Model)
                        {*@
                <div class="grid images_3_of_2">
                    
                    <div class="flexslider">
                        
                            <ul class="slides">

                                <li data-thumb="@item1.ImageUrl1Product">
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl1Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl2Product" >
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl2Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                                <li data-thumb="@item1.ImageUrl3Product" >
                                    <div class="thumb-image">
                                        <img src="@item1.ImageUrl3Product" data-imagezoom="true" class="img-fluid" alt="">
                                    </div>
                                </li>
                            </ul>
                        
                        <div class="clearfix"></div>
                    </div>
                   
                </div>
                @*}*@
            </div>
            
                <div class="col-lg-7 single-right-left simpleCart_shelfItem">
                    <h3 class="mb-3">@item1.NameProduct / @item1.BrandProduct</h3>
                    <p class="mb-3">
                        <span class="item_price">@item1.PriceProduct</span>
                        <del class="mx-2 font-weight-light">$400.00</del>
                        <label>Free delivery</label>
                    </p>
                    <div class="single-infoagile">
                        <ul>
                            <li class="mb-3">
                                @item1.DescriptionProduct
                            </li>

                        </ul>
                    </div>

                    <div class="occasion-cart">
                        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out">
                            <form action="#" method="post">
                                <fieldset>
                                    <input type="hidden" name="cmd" value="_cart" />
                                    <input type="hidden" name="add" value="1" />
                                    <input type="hidden" name="business" value=" " />
                                    <input type="hidden" name="item_name" value="@item1.NameProduct" />
                                    <input type="hidden" name="amount" value="@item1.PriceProduct" />
                                    <input type="hidden" name="discount_amount" value="1.00" />
                                    <input type="hidden" name="currency_code" value="USD" />
                                    <input type="hidden" name="return" value=" " />
                                    <input type="hidden" name="cancel_return" value=" " />
                                    <input type="submit" name="submit" value="Sepete Ekle" class="btn btn-style" />
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            
        </div>
        <div class="row">
            <div class="col-lg-5 col-md-8 single-right-left">
                @await Component.InvokeAsync("CommentList", new {id=ViewBag.i})
            </div>
       @* Bir Yorum Bırakın buraya gelecek*@
      
             
                
        </div>
      
                @await Html.PartialAsync("~/Views/Comment/PartialAddComment.cshtml")
            
       
    </div>
    }
</div>


