@model EntityLayer.Concrete.Product
@{
    ViewData["Title"] = "ProductAdd";
    Layout = "~/Views/Shared/_LayoutAuthorized.cshtml";
}

<br />
<div class="card-header border-0">
    <h3 class="mb-0">Ürün Ekleme Paneli</h3>
</div>

<form class="form-group " style="margin-left: 1rem; margin-right: 1rem;" method="post">

    @using (Html.BeginForm("ProductAdd", "Product", FormMethod.Post))
    {
        @Html.Label("Kategori Seçiniz : ")
        @Html.DropDownListFor(x=> x.GenreCategoryID, (List<SelectListItem>)ViewBag.cv,"Kategori Seçiniz...",new {@class="form-control", @required="true"})
        <br />
        @Html.Label("Ürün İsmi :")
        @Html.TextBoxFor(x=> x.NameProduct, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.NameProduct)
        <br />
        @Html.Label("Ürün Markası :")
        @Html.TextBoxFor(x=> x.BrandProduct, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.BrandProduct)
        <br />
        @Html.Label("Ürün Açıklaması :")
        @Html.TextBoxFor(x=> x.DescriptionProduct, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.DescriptionProduct)
        <br />
        @Html.Label("Ürün Fiyatı :")
        @Html.TextBoxFor(x=> x.PriceProduct, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.PriceProduct)
        <br />
        @Html.Label("Ürün Bedeni :")
        @Html.TextBoxFor(x=> x.SizeProduct, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.SizeProduct)
        <br />
        @Html.Label("Ürün Resmi 1 :")
        @Html.TextBoxFor(x=> x.ImageUrl1Product, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.ImageUrl1Product)
        <br />
        @Html.Label("Ürün Resmi 2 :")
        @Html.TextBoxFor(x=> x.ImageUrl2Product, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.ImageUrl2Product)
        <br />
        @Html.Label("Ürün Resmi 3 :")
        @Html.TextBoxFor(x=> x.ImageUrl3Product, new {@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.ImageUrl3Product)
        <br />
        @Html.Label("Ürün Resmi 4 :")
        @Html.TextBoxFor(x=> x.ImageUrl4Product, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.ImageUrl4Product)
        <br />
        @Html.Label("Ürün Resmi 5 :")
        @Html.TextBoxFor(x=> x.ImageUrl5Product, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.ImageUrl5Product)
        <br />
        @Html.Label("Ürün Resmi 6 :")
        @Html.TextBoxFor(x=> x.ImageUrl6Product, new {@class="form-control"})
        @Html.ValidationMessageFor(x => x.ImageUrl6Product)
        <br />

        <button class="btn btn-info">Ürünü Kaydet</button>



    }
</form>



