@model EntityLayer.Concrete.Trader
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_LayoutAuthenticated.cshtml";
}

<div class="ads-grid py-sm-5 py-4">
    <div class="container py-xl-4 py-lg-2">
        <div class="row">

            <div class="col-lg-3 mt-lg-0 mt-4 p-lg-0 order-lg-first order-last">
                <div class="side-bar p-sm-4 p-3">
                    <!-- reviews -->
                    <div class="customer-rev left-side py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/Profile/MyAdverts">İLANLARIM</a></h3>
                    </div>

                    <div class="left-side py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/MainCategory/Index">ÜRÜN EKLE</a></h3>
                    </div>

                    <div class="customer-rev left-side py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/Profile/MyProductsToBeApproved">ONAY BEKLEYEN ÜRÜNLERİM</a></h3>
                    </div>

                    <div class="range py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/Profile/MyGet">ALDIKLARIM</a></h3>
                    </div>

                    <div class="left-side py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/Profile/MySell">SATTIKLARIM</a></h3>
                    </div>

                    @*<div class="left-side py-2">
                    <h3 class="agileits-sear-head mb-3"><a href="#">BİLDİRİMLER</a></h3>
                    </div>*@

                    <div class="left-side py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/Profile/MyProfile">PROFİLİ DÜZENLE</a></h3>
                    </div>


                    <div class="left-side py-2">
                        <h3 class="agileits-sear-head mb-3"><a href="/LoginUser/LogOut/">ÇIKIŞ YAP!</a></h3>
                    </div>
                </div>
            </div>
            <div class="agileinfo-ads-display col-lg-9 order-lg-last order-first">
                <div class="wrapper">

                    <div class="card-header border-0">
                        <h3 class="mb-0">Profil Bilgilerim</h3>
                    </div>

                    <form class="form-group " style="margin-left: 1rem; margin-right: 1rem;" method="post">

                        @using (Html.BeginForm("MyProfile", "Profile", FormMethod.Post))
                        {
                            <div style="margin-left:1rem; margin-right:1rem;">
                                @*@Html.HiddenFor(x=>x.ProductID) Hidden for gönderilen referanslar için kullanılır hide gizli anlamında referans göndermeden güncellenecek*@
                                @Html.HiddenFor(x=>x.ImageUrlTrader)

                                <br />
                                @Html.Label("Profil Resmi :") @*açıklama textareafor olacak*@
                                <img style="height:15rem" src=" @Html.DisplayFor(x=> x.ImageUrlTrader, new {@class="form-control",disabled="disabled"})" />
                                <br />
                                <br />

                                @Html.Label("Kullanıcı Adı Ve Soyadı :") @*açıklama textareafor olacak*@
                                @Html.TextBoxFor(x=> x.TraderUserName, new {@class="form-control",@required="true"})
                                <br />
                                @Html.Label("Hakkımda :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.DescriptionTrader, new {@class="form-control"})
                                <br />
                                @Html.Label("Telefon Numarası :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.PhoneNumberTrader, new {@class="form-control"})
                                <br />
                                @Html.Label("E-Posta :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.MailTrader, new {@class="form-control"})
                                <br />
                                @Html.Label("İBAN :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.IBANTrader, new {@class="form-control"})
                                <br />
                                <hr />
                                @Html.Label("Adres 1 :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.Address1Trader, new {@class="form-control"})
                                <br />
                                @Html.Label("Adres 2 :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.Address2Trader, new {@class="form-control"})
                                <br />
                                @Html.Label("Adres 3 :") @*açıklama textareafor olacak*@
                                @Html.TextAreaFor(x=> x.Address3Trader, new {@class="form-control"})
                                <br />
                                <button type="submit" class="btn btn-success">Güncelle</button>
                            </div>
                            <br />

                        }
                    </form>
                </div>
            </div>

        </div>
    </div>

</div>