@model EntityLayer.Concrete.SubCategory

@{
    ViewData["Title"] = "AddSubCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Alt Kategori Ekleme Tablosu</h3>
</div>

<form class="form-group " style="margin-left: 1rem; margin-right: 1rem;" method="post">

    @using (Html.BeginForm("AddSubCategory", "SubCategory", FormMethod.Post))
    {
        @Html.Label("Alt Kategori İsmi : ")
        @Html.TextBoxFor(x => x.NameSubCategory, new { @class = "form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.NameSubCategory,"",new{@class="text-danger", @style="font-size:12px;"})

        <br />

        @Html.Label("Alt Kategori Resmi : ")
        @Html.TextBoxFor(x => x.ImageUrlSubCategory, new { @class = "form-control", @required="true"})
        @Html.ValidationMessageFor(x => x.ImageUrlSubCategory,"",new{@class="text-danger", @style="font-size:12px;"})

        <br />

        @Html.Label("Bağlı Olduğu Ana Kategori :")
        @Html.DropDownListFor(x=>x.MainCategoryID,(List<SelectListItem>)ViewBag.cv,"Ana Kategori Seçiniz...",new{@class="form-control", @required="true"})
        @Html.ValidationMessageFor(x=>x.MainCategoryID,"",new{@class="text-danger", @style="font-size:12px;"})


        <button class="btn btn-info">Yazıyı Kaydet</button>
    }

</form>
