@model EntityLayer.Concrete.SubCategory

@{
    ViewData["Title"] = "EditSubCategory";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-header border-0">
    <h3 class="mb-0">Ara Kategori Güncelleme Tablosu</h3>
</div>

<form class="form-group " style="margin-left: 1rem; margin-right: 1rem;" method="post">

    @using (Html.BeginForm("EditSubCategory", "SubCategory", FormMethod.Post))
    {
        <div style="margin-left:1rem; margin-right:1rem;">
            @Html.HiddenFor(x=>x.SubCategoryID )
            <br />
            @Html.Label("Ara Kategori İsmi :")
            @Html.TextBoxFor(x=> x.NameSubCategory, new {@class="form-control", @required="true"})
            @Html.ValidationMessageFor(x=>x.NameSubCategory,"",new{@class="text-danger", @style="font-size:12px;"})
            <br />
            @Html.Label("Ara Kategori Resmi :")
            @Html.TextAreaFor(x=> x.ImageUrlSubCategory,4,2 ,new {@class="form-control", @required="true"})
            @Html.ValidationMessageFor(x=>x.ImageUrlSubCategory,"",new{@class="text-danger", @style="font-size:12px;"})
            <br />

            @Html.Label("Bağlı Olduğu Ana Kategori :")
            @Html.DropDownListFor(x=>x.MainCategoryID,(List<SelectListItem>)ViewBag.cv,"Bağlı Olduğu Ana Kategoriyi Seçiniz...",new{@class="form-control", @required="true"})
            @Html.ValidationMessageFor(x=>x.MainCategoryID,"",new{@class="text-danger", @style="font-size:12px;"})

            <br />
            <button type="submit" class="btn btn-success">Güncelle</button>
        </div>
        <br />

    }
</form>
